.radio{opacity: 0; outline: none; position: absolute; top: 0; left: 0; right:  0; bottom: 0; margin: 0; width: 100%; height: 100%;}
.disabled{color: #ccc !important; pointer-events: none;}
/* .disabled::after{content: ''; width: 100%; height: 100%; display: block;} */